[submodule "Calliterra/vendor/spdlog"]
	path = Calliterra/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Calliterra/vendor/imgui"]
	path = Calliterra/vendor/imgui
	url = https://github.com/Yhariin/imgui.git
[submodule "Calliterra/vendor/rapidobj"]
	path = Calliterra/vendor/rapidobj
	url = https://github.com/guybrush77/rapidobj.git
[submodule "Calliterra/vendor/fastgltf"]
	path = Calliterra/vendor/fastgltf
	url = https://github.com/Yhariin/fastgltf.git
