# Binaries
bin/
obj/
!Calliterra/vendor/assimp/bin

assets/models/**
assets/textures/**

*.log
imgui.ini
imgui*.ini

# Visual Studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj